Django==1.4.5
GnuPGInterface==0.3.2
PIL==1.1.7
Paver==1.2.2
SOAPpy==0.12.0
TheBlueAlliance==1.03
argparse==1.2.1
awscli==1.5.6
bcdoc==0.12.2
botocore==0.70.0
chardet==2.0.1
colorama==0.2.5
decorator==4.0.9
django-registration==0.8
djextdirect==0.6
docutils==0.12
fpconst==0.7.2
iotop==0.4.4
jmespath==0.5.0
joblib==0.9.4
numpy==1.6.2
praw==3.4.0
praw-oauth2util==0.3.4
pyOpenSSL==16.0.0
pyasn1==0.1.7
pycurl==7.19.0
python-apt==0.8.8.2
python-dateutil==2.2
python-debian==0.1.21
python-debianbts==1.11
reportbug==6.4.4
requests==2.9.1
rethinkdb==1.16.0-4
rsa==3.1.2
setproctitle==1.0.1
simplejson==2.5.2
six==1.10.0
unattended-upgrades==0.1
update-checker==0.11
virtualenv==15.0.1
wsgiref==0.1.2
